---
layout: none
title: Filter Posts
permalink: /filter.html
exclude: true
sitemap: false
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.name }} - {{ page.title }}</title>
	<meta name="author" content='{{ site.author }} | {{ site.email }}'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ site.url }}/css/{{ site.bootstrap.css }}" rel="stylesheet" media="screen">
	<link href="{{ site.url }}/css/gh-pages-blog.css" rel="stylesheet" media="screen">
	<link href="{{ site.url }}/css/newsletter.css" rel="stylesheet" media="screen">
	{% if site.bootstrap.responsive.enabled %}
		<link href="{{ site.url }}/css/{{ site.bootstrap.responsive.css }}" rel="stylesheet">
	{% endif %}
	{% if site.font_awesome.enabled %}
		<link rel="stylesheet" href="{{ site.url }}/css/{{ site.font_awesome.css }}">
	{% endif %}
	{% if site.syntax_highlighting.enabled %}
		<link rel="stylesheet" href="{{ site.url }}/css/{{ site.syntax_highlighting.css }}">
	{% endif %}
	{% if site.rss.enabled %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss.xml" />
	{% endif %}
	{% if site.favicon.enabled and site.favicon.local.enabled %}
		<link rel="icon" type="image/{{ site.favicon.local.type }}" href="{{ site.url }}{{ site.favicon.local.partial_url }}" />
	{% elsif site.favicon.enabled and site.favicon.remote.enabled %}
		<link rel="icon" type="image/{{ site.favicon.remote.type }}" href="{{ site.favicon.remote.full_url }}" />
	{% endif %}
	<script src="{{ site.url }}/js/grafana-faro.js"></script>
</head>
<body>
	<!-- Navbar -->
	{% include body/sections/navbar.html %}
	
	<!-- Alerts -->
	{% include body/sections/alerts_and_notices/site.html %}
	
	<div class="container">
		<div class="row">
			<div class="span8">
				<!-- Page Header -->
				<div class="page-header">
					<h1 id="filter-title">{{ page.title }}</h1>
				</div>
				
				<!-- Alerts -->
				{% include body/sections/alerts_and_notices/page.html %}
				
				<!-- Filter Results -->
				<div id="filter-body"></div>
			</div>
			
			<div class="span3 offset1">
				<!-- Sidebar -->
				{% include body/sections/brief-bio.html %}
				{% include body/sections/navlists.html %}
			</div>
		</div>
		
		<!-- Newsletter -->
		{% include body/sections/newsletter.html %}
		
		<!-- Footer -->
		{% include body/sections/footer.html %}
	</div>
	
	<!-- JavaScript -->
	{% include body/sections/javascript.html %}
	
	<!-- Filter JavaScript -->
	<script type="text/javascript">
	var posts = [
	{% for post in site.posts %}
	  {
	    "title": {{ post.title | jsonify }},
	    "subtitle": {{ post.subtitle | default: "" | jsonify }},
	    "author": {{ post.author | default: site.author | jsonify }},
	    "description": {{ post.description | default: "" | jsonify }},
	    "url": "{{ site.url }}{{ post.url }}",
	    "date": {{ post.date | date_to_long_string | jsonify }},
	    "category": "{{ post.category | default: '' | replace: ' ', '___' | capitalize }}",
	    "image": "{% if post.image %}{{ site.url }}{{ post.image }}{% endif %}",
	    "tags": [{% for tag in post.tags %}"{{ tag | replace: ' ', '___' | downcase }}"{% unless forloop.last %},{% endunless %}{% endfor %}]
	  }{% unless forloop.last %},{% endunless %}
	{% endfor %}
	];

	var create_post_div = function(post) {
		var post_div = '<div class="ghpb-post"><div class="well ghpb-well-outline">';
		
		// Add SEO image if available
		if (post.image && post.image.length > 0) {
			post_div = post_div + '<div class="row"><div class="span2"><img src="' + post.image + '" class="img-rounded" style="width: 100%; max-width: 150px; height: auto;"></div><div class="span6">';
			post_div = post_div + '<h2><a href="' + post.url + '">' + post.title + '</a></h2>';
		} else {
			post_div = post_div + '<h2><a href="' + post.url + '">' + post.title + '</a></h2>';
		}

		if (post.subtitle !== null && post.subtitle.length > 0) {
			post_div = post_div + '<p>' + post.subtitle + '</p>';
		}

		if (post.description !== null && post.description.length > 0) {
			post_div = post_div + '<p>&nbsp;</p><p>' + post.description + '</p>';
		}
		
		// Close image column div if image was added
		if (post.image && post.image.length > 0) {
			post_div = post_div + '</div></div>';
		}

		post_div = post_div + '<br><div class="row">';
		post_div = post_div + '<small><div class="span3 offset1">';

		{% if site.font_awesome.enabled %}
			post_div = post_div + '<i class="fas fa-user"></i> ';
		{% endif %}
		post_div = post_div + 'Authored by ' + post.author + '.<br>';

		{% if site.font_awesome.enabled %}
			post_div = post_div + '<i class="fas fa-pencil"></i> ';
		{% endif %}
		post_div = post_div + 'Published on ' + post.date + '.<br></div><div class="span3">';

		if (post.category !== null && post.category.length > 0) {
			{% if site.font_awesome.enabled %}
				post_div = post_div + '<i class="fas fa-folder-open"></i> ';
			{% endif %}
			post_div = post_div + 'Category: ' +
				'<a href="{{ site.url }}/filter.html?category=' +
				post.category.toLowerCase() + '">' +
				post.category.replace(/___/g, ' ') +
				'</a><br>';
		}

		if (post.tags !== null && post.tags.length > 0) {
			{% if site.font_awesome.enabled %}
				post_div = post_div + '<i class="fas fa-tags"></i> ';
			{% endif %}
			post_div = post_div + 'Tags: ';
			var prev_tag = '';
			var first_tag = true;
			for (var k = 0; k < post.tags.length; k++) {
				if (prev_tag !== post.tags[k]) {
					prev_tag = post.tags[k];
					if (first_tag === true) {
						first_tag = false;
					} else {
						post_div = post_div + ', ';
					}
					post_div = post_div +
						'<a href="{{ site.url }}/filter.html?tag=' + 
						post.tags[k] + '">'+
						post.tags[k].replace(/___/g, ' ') +
						'</a>';
				}
			}
			post_div = post_div + '<br>';
		}

		post_div = post_div + '</div><div class="span1"></div></small></div>';
		post_div = post_div + '</div></div>';

		return post_div;
	};

	// Improved URL parameter parsing
	var getUrlParameter = function(name) {
		name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
		var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
		var results = regex.exec(location.search);
		return results === null ? null : decodeURIComponent(results[1].replace(/\+/g, ' '));
	};
	
	var requested_tag = getUrlParameter('tag');
	var requested_category = getUrlParameter('category');

	// Debug logging
	console.log('Posts array length:', posts.length);
	console.log('Requested tag:', requested_tag);
	console.log('Requested category:', requested_category);
	if (posts.length > 0) {
		console.log('Sample post:', posts[0]);
	}

	if (requested_tag === null && requested_category === null) {
		$('#filter-title').html('No category or tag supplied');
		$('#filter-body').html('<p>A category or a tag must be supplied as a parameter in order to get a filtered list of posts.</p>');
	} else if (requested_tag !== null) {
		$('#filter-title').html('Posts with tag "' + requested_tag.replace(/___/g, ' ') + '"');
		var matching_posts = 0;
		for (var i = 0; i < posts.length; i++) {
			if (posts[i].tags !== null) {
				for (var j = 0; j < posts[i].tags.length; j++) {
					if (posts[i].tags[j].toLowerCase() === requested_tag.toLowerCase()) {
						$('#filter-body').append(create_post_div(posts[i]));
						$('#filter-body').append('<br><br>');
						matching_posts++;
						break;
					}
				}
			}
		}
		if (matching_posts === 0) {
			$('#filter-body').html('<div class="alert alert-info"><strong>No posts found</strong><br>No posts were found with the tag "' + requested_tag.replace(/___/g, ' ') + '". <a href="{{ site.url }}">Browse all posts</a> or try a different filter.</div>');
		}
	} else {
		$('#filter-title').html('Posts in category "' + requested_category.replace(/___/g, ' ') + '"');
		var matching_posts = 0;
		for (var i = 0; i < posts.length; i++) {
			if (posts[i].category !== null) {
				if (posts[i].category.toLowerCase() === requested_category.toLowerCase()) {
					$('#filter-body').append(create_post_div(posts[i]));
					$('#filter-body').append('<br><br>');
					matching_posts++;
				}
			}
		}
		if (matching_posts === 0) {
			$('#filter-body').html('<div class="alert alert-info"><strong>No posts found</strong><br>No posts were found in the category "' + requested_category.replace(/___/g, ' ') + '". <a href="{{ site.url }}">Browse all posts</a> or try a different filter.</div>');
		}
	}
	</script>
</body>
</html>
