<h4>About michaellamb.dev</h4>
This blog serves as public technical documentation of personal projects. If you have inquiries or suggestions please create a <a href="https://github.com/michaellambgelo/michaellambgelo.github.io/issues/new">new issue on GitHub</a>. 
<br /> <br />

Get to know who I am in my first post <a href="https://michaellamb.dev/2021/03/24/hello-world.html">Hello, World!</a> Check out my latest <a href="https://michaellamb.dev/2022/01/27/career-update.html">career update</a>. 
<br /> <br />

<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/themichaellamb/technical-discovery'});return false;">Book a consultation with me</a>
<!-- Calendly link widget end -->