<!DOCTYPE html>
{% assign layout_newsletter_html = null %}
{% capture layout_newsletter_html %}
	<html lang="en">
		<head>
			<title>{{ site.name }} - {{ page.title }}</title>
			<meta name="description" content="Subscribe to the Michael Lamb newsletter for the latest tech posts, tutorials, and insights">
			{% include head/common/common.html %}
			{% seo %}
		</head>
		<body>
			{% include body/sections/navbar.html %}
			{% include body/sections/alerts_and_notices/site.html %}
			{{ content }}
			{% include body/sections/footer.html %}
		</body>
	</html>
{% endcapture %}
{{ layout_newsletter_html }}
