<!DOCTYPE html>
{% assign layout_page_html = null %}
{% capture layout_page_html %}
	<html lang="en">
		{% include head/page.html %}
		{% include body/page.html %}

		<!-- HTML Meta Tags -->
		<title>Michael Lamb Blog</title>
		<meta name="description" content="A blog written and maintained by Michael Lamb">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://michaellamb.dev/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Michael Lamb Blog">
		<meta property="og:description" content="A blog written and maintained by Michael Lamb">
		<meta property="og:image" content="https://michaellamb.dev/seo/default.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="michaellamb.dev">
		<meta property="twitter:url" content="https://michaellamb.dev/">
		<meta name="twitter:title" content="Michael Lamb Blog">
		<meta name="twitter:description" content="A blog written and maintained by Michael Lamb">
		<meta name="twitter:image" content="https://michaellamb.dev/seo/default.png">

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->
			
	</html>
{% endcapture %}
{{ layout_page_html | remove:'	' }}